<div class="common_modal" id="marketInfoCfg_detail_modal" style="width:900px;">
    <div class="common_modal_title_div" id = "marketInfoCfg_detail_modal_title">
        <label class = "common_modal_title_label" >行情站点配置</label>
        <div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "mainHideModalLv2()">
            <img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
        </div>
    </div>

    <div class="common_modal_operate_body">
        <div class="common_form_div_item_10px common_nowrap">
            <button type="button" class="common_green_btn common_normal_btn  common_default_length" ng-click="addMarketCfg()">新增</button>
            <!-- <button type="button" class="common_green_btn common_normal_btn  common_default_length" ng-click="delMarketCfg()">删除</button> -->

        </div>
        <div class="common_scroll_div "  style="height:300px; border: 1px solid #DCDCDC;">
            <table class="common_fixed_table" onclick="cms.addClassToTableHead(event,'common_activeTH');">
              <thead >
                <tr >
                  <th class = "common_center_align common_nowrap">默认(选择)</th>
                  <th class = "common_nowrap">行情站点名称</th>
                  <th class = "common_center_align common_nowrap" >资产管理人</th>
                  <th class = "common_center_align common_nowrap">用户名</th>
                  <th class = "common_center_align common_nowrap" style="z-index:10;">密码</th>
                  <th class = "common_center_align common_nowrap">行情服务器</th>
                  <th class = "common_center_align common_nowrap">行情端口</th>
                  <th class = "common_center_align common_nowrap">操作</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="marketCfg in allMarketInfoCfg " ng-class="{'common_activeTr':currentRoleIndex == $index}" ng-click="clickRoleTr(role,$index)">
                  <td class = " common_nowrap common_center_align" >
                      <input type="radio" name="" value="" ng-checked="marketCfg.station_default_copy == 1"
                            ng-click="clickRadio(marketCfg)">
                  </td>
                  <td class = " common_nowrap common_center_align" >
                      <label ng-show="!marketCfg.edit">{{marketCfg.station_name_copy}}</label>
                      <input type="text" ng-show="marketCfg.edit" ng-model="marketCfg.station_name_copy" class="common_normal_input  main_table_normal_input">

                  </td>
                  <td class = " common_nowrap common_center_align" >
                      <label ng-show="!marketCfg.edit">{{marketCfg.station_maid_copy}}</label>
                      <input type="text" ng-show="marketCfg.edit" ng-model="marketCfg.station_maid_copy" class="common_normal_input  main_table_normal_input">
                  </td>
                  <td class = " common_nowrap common_center_align" >
                      <label ng-show="!marketCfg.edit">{{marketCfg.station_user_copy}}</label>
                      <input type="text" ng-show="marketCfg.edit" ng-model="marketCfg.station_user_copy" class="common_normal_input  main_table_normal_input">
                  </td>
                  <td class = " common_nowrap common_center_align" >
                      <cms-password-input input-disabled="{{!marketCfg.edit}}" password-text="marketCfg.station_psw_copy"></cms-password-input>
                  </td>
                  <td class = " common_nowrap common_center_align" >
                      <label ng-show="!marketCfg.edit">{{marketCfg.station_addr_copy}}</label>
                      <input type="text" ng-show="marketCfg.edit" ng-model="marketCfg.station_addr_copy" class="common_normal_input  main_table_normal_input">

                  </td>
                  <td class = " common_nowrap common_center_align" >
                      <label ng-show="!marketCfg.edit">{{marketCfg.station_port_copy}}</label>
                      <input type="text" ng-show="marketCfg.edit" ng-model="marketCfg.station_port_copy" class="common_normal_input  main_table_normal_input">

                  </td>

                  <td class = "common_center_align common_nowrap">
                      <label class = "common_table_option_label" ng-show="!marketCfg.edit && marketCfg.system_station == 0" ng-click="editMarketCfg(marketCfg)">编辑</label>
                      <label class = "common_table_option_divider" ng-show="!marketCfg.edit && marketCfg.system_station == 0">|</label>
                      <label class = "common_table_option_label" ng-show="marketCfg.edit " ng-click="saveChangeMarketCfg(marketCfg)">保存</label>
                      <label class = "common_table_option_divider" ng-show="marketCfg.edit ">|</label>
                      <label class = "common_table_option_label" ng-show="marketCfg.edit " ng-click="cancelChangeMarketCfg(marketCfg,$index)">取消</label>
                      <label class = "common_table_option_divider" ng-show="marketCfg.edit ">|</label>
                      <label class = "common_table_option_label" ng-show="marketCfg.system_station == 0" ng-click="delMarketCfg(marketCfg,$index)">删除</label>

                  </td>

                </tr>
              </tbody>
            </table>
        </div>
    </div>

    <div class="common_modal_footer">
        <button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length "  ng-click="saveMarketCfg(true)">确定</button>
        <button type="button" class="common_gray_btn common_normal_btn  common_default_length" ng-click="mainHideModalLv2()">取消</button>
    </div>
</div>
