
<div class="common_modal" id="monitor_detail_modal">
    <div class="common_modal_title_div" id = "monitor_detail_modal_title">
        <label class = "common_modal_title_label" >产品详细净值</label>
        <div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "hideMonitorModal()">
            <img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
        </div>
    </div>

    <div class="common_modal_body">
        <div class="" id="monitor_detail_div" style="width:500px; height:400px;">

        </div>
    </div>

    <div class="common_modal_footer">
        <button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length " ng-click="hideMonitorModal()">确定</button>
        <button type="button" class="common_gray_btn common_normal_btn  common_default_length" ng-click="hideMonitorModal()">取消</button>
    </div>
</div>
