<div class="common_modal" id="ukcodeManage_del_modal" style="width:300px;">
    <div class="common_modal_title_div" id = "ukcodeManage_del_modal_title">
        <label class = "common_modal_title_label">添加ukcode</label>
        <div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "hideUkCodeModal()">
            <img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
        </div>
    </div>

    <div class="common_modal_body" style="text-align:center;">
        确定要删除该股票吗?
    </div>

    <div class="common_modal_footer">
        <button type="button" class="common_blue_btn common_normal_btn  common_default_length common_line_unend_item" ng-click="delUkcode()">确定</button>
        <button type="button" class="common_green_btn common_normal_btn  common_default_length" ng-click="hideUkCodeModal()">取消</button>
    </div>
</div>
