.ukcode_manage_data_div {
    position: absolute;
	top: 36px;
	left: 5px;
	right: 9px;
	bottom: 30px;
	border: 1px solid rgba(34,36,38,.15);
}
.ukcode_manage_footer_div {
    position: absolute;
	left: 5px;
	right: 9px;
	bottom: 10px;
	height: 20px;
	text-align: right;
	vertical-align: middle;
	-webkit-user-select:none;
}
