<div class="common_page_html common_scroll_div" ng-controller="ukcodeManageCtrl">

    <div class="common_tab_operate_div common_nowrap">
        <input type="text" ng-model="filterOption.searchFeild" class="common_normal_input common_line_unend_item common_search_input_length "
            placeholder="请输入ukcode或市场代码或名称" ng-keyup="seachUkcode($event)">

        <label for="">市场:</label>
        <select class="common_dropdown common_line_unend_item " style="width:212px" ng-model="filterOption.marketid" ng-change="changeMarket()">
            <option value="0">所有市场</option>
            <option ng-repeat="market in markets" value="{{market.marketid}}">{{market.marketchname+"("+market.briefcode+")"}}</option>
        </select>
        <label for="">品种:</label>
        <select ng-init="currentUktype" ng-model="currentUktype" ng-change="changeUKtype()" class="common_dropdown  common_line_unend_item "
            style="width:212px" ng-options="uktype.typechname+'('+uktype.typeenname+')' for uktype in uktypes">
        </select>
        <button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length" ng-if="menuRight.indexOf(2005004005001) != -1"
            name="button" ng-click="clickAddUkcode()">添加</button>
        <button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length" name="button"
            ng-click="resetUkcode()">刷新</button>
    </div>

    <div class=" common_tab_data_div">
        <div class="common_scroll_div " style="height:calc(100% - 31px);">
            <table class="common_fixed_table" onclick="cms.addClassToTableHead(event,'common_activeTH');">
                <thead>
                    <tr>
                        <th class="common_nowrap" ng-click="clickTableHeader('ukcode',true)">
                            <span ng-show="keyName == 'ukcode'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            UKCODE
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('marketcode')">
                            <span ng-show="keyName == 'marketcode'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            市场编码
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('chabbr')">
                            <span ng-show="keyName == 'chabbr'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            中文简称
                        </th>

                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('marketName')">
                            <span ng-show="keyName == 'marketName'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            交易市场
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('uktypeStr')">
                            <span ng-show="keyName == 'uktypeStr'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            品种
                        </th>

                        <!-- <th class = "common_center_align common_nowrap">中文全称</th>
                        <th class = "common_center_align common_nowrap">英文名</th> -->

                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('currencyName')">
                            <span ng-show="keyName == 'currencyName'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            结算和交易货币
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('ukext',true)">
                            <span ng-show="keyName == 'ukext'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            UK扩展码
                        </th>
                        <!-- <th class = "common_center_align common_nowrap">聚源对照编码</th> -->
                        <!-- <th class = "common_center_align common_nowrap">万德对照编码</th> -->
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('listdate')">
                            <span ng-show="keyName == 'listdate'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            上市日期
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('delistdate')">
                            <span ng-show="keyName == 'delistdate'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            下市日期
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('inputcode')">
                            <span ng-show="keyName == 'inputcode'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            输入编码
                        </th>
                        <th class="common_center_align common_nowrap" ng-click="clickTableHeader('lastupdate')">
                            <span ng-show="keyName == 'lastupdate'" ng-class="{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>                            最近修改
                        </th>
                        <th class="common_center_align common_nowrap">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ukcode in allUkCode | orderBy:keyName:false:sortFunction" ng-dblclick="clickEditUkcode(ukcode)" ng-click="clickTr(ukcode)"
                        ng-class="{'common_activeTr':ukcode.selected}">
                        <td class="common_center_align common_nowrap">{{ukcode.ukcode}}</td>
                        <td class="common_center_align common_nowrap">{{ukcode.marketcode}}</td>
                        <td class="common_center_align common_nowrap">{{ukcode.chabbr}}</td>

                        <td class="common_center_align common_nowrap">
                            {{marketObj[ukcode.marketid] ? (marketObj[ukcode.marketid].marketchname + "("+marketObj[ukcode.marketid].briefcode+")") :
                            "-"}}
                        </td>
                        <td class="common_center_align common_nowrap">
                            {{ukcode.uktypeStr}}
                        </td>
                        <td class="common_center_align common_nowrap">
                            {{currencyObj[ukcode.currencyid] ? (currencyObj[ukcode.currencyid].curencychname + "("+ currencyObj[ukcode.currencyid].briefcode
                            +")" ) : "-"}}
                        </td>
                        <td class="common_center_align common_nowrap">{{ukcode.ukext}}</td>
                        <td class="common_center_align common_nowrap">
                            {{ukcode.listdate}}

                        </td>
                        <td class="common_center_align common_nowrap">
                            {{ukcode.delistdate}}

                        </td>
                        <td class="common_center_align common_nowrap">{{ukcode.inputcode}}</td>
                        <td class="common_center_align common_nowrap">
                            {{ukcode.lastupdate}}
                        </td>
                        <td class="common_center_align common_nowrap">
                            <button class="common_table_operate_text" ng-if="menuRight.indexOf(2005004005002) != -1" ng-click="clickEditUkcode(ukcode)">修改</button>
                            <label class="common_table_operate_divider" ng-if="menuRight.indexOf(2005004005002) != -1">|</label>
                            <button class="common_table_operate_text" ng-if="menuRight.indexOf(2005004005003) != -1" ng-click="clickDelUkcode(ukcode)">删除</button>
                            <label class="common_table_operate_divider" ng-if="menuRight.indexOf(2005004005003) != -1">|</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <cms-data-pager click-menu-item="goToPage(page)" all-page="{{allPage}}" current-page="currentPage"></cms-data-pager>

        <!--<div class="common_page_tools">
            <i class=" iconfont icon-rilijiantouzuoshuang common_page_tool" style="font-size:12px; " ng-click="goToPage(1)" title="首页"></i>
            <i class="iconfont icon-houtuiqianjin common_page_tool" ng-click="goToPage(currentPage -1 )" style="font-size:12px; " title="上一页"></i>
            <input type="text" ng-model="currentPage" class="common_page_number" ng-keyup="pageToolsKeyUp($event)">
            <label title="总页数">/{{allPage}}</label>
            <i class="iconfont icon-houtuiqianjin1 common_page_tool" style="font-size:12px; " ng-click="goToPage(currentPage +1)" title="下一页"></i>
            <i class=" iconfont icon-rilijiantouyoushuang common_page_tool" ng-click="goToPage(allPage)" style="font-size:12px; " title="尾页"></i>

        </div>-->

    </div>

    <div class="common_modal_back" id="ukcodeManage_modal_back">
        <div ng-include="modalInfo.path" onload="ukcodeManageLoadModalReady()"></div>
    </div>

</div>