<div class="common_modal" id="strategyServer_config_modal">
    <div class="common_modal_title_div" id = "strategyServer_config_modal_title">
        <label class = "common_modal_title_label" >策略配置</label>

        <div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "hideStrategyServerModal()">
            <img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
        </div>
    </div>

    <div class="common_modal_body">
        <table class="common_operate_table">
            <tr>
                <td>策略名称:</td>
                <td>
                    <input type="text" value="{{operateStrategy.stname+'('+operateStrategy.stgid+ ')'}}">
                </td>
                <td><label class="common_required_item">*</label></td>
            </tr>
            <tr>
                <td>策略配置模板:</td>
                <td>
                    <select class="common_dropdown" style="width:158px;"
                        ng-model="operateStrategy.configTemplate" ng-change="changeConfigTemplate()"
                        ng-options = "template.tempid for template in scope.allStrategyServerTemplate">
                    </select>
                </td>
                <td><label class="common_required_item">*</label></td>
            </tr>
            <tr>
                <td>策略参数:</td>
                <td>
                    <input type="text" ng-model="operateStrategy.parms" ng-change="changeTemplate()" class="common_normal_input ">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>ui参数:</td>
                <td>
                    <input type="text" ng-model="operateStrategy.ui_parms" ng-change="changeTemplate()" class="common_normal_input ">
                </td>
                <td></td>
            </tr>


        </table>
    </div>

    <div class="common_modal_footer">
        <button type="button" class="common_blue_btn common_normal_btn  common_default_length common_line_unend_item" ng-show="modalInfo.state == 'addStrategyServer'" ng-click="addStrategyServerConfig()">确定</button>
        <button type="button" class="common_gray_btn common_normal_btn common_default_length" ng-click="hideStrategyServerModal()">取消</button>
    </div>
</div>
