<div class="common_modal" id="account_editTips_modal" style="width:329px; height:173px;">
    <div class="common_modal_title_div" id="account_editTips_modal_title">
        <label class="common_modal_title_label">提示</label>
        <div class="common_modal_window_close_btn" title="关闭窗口" ng-click="closeTips()">
            <img src="../commonui/images/icon_close.png" draggable="false" class="common_modal_close_icon" />
        </div>
    </div>
    <div class="common_modal_body editTips_modal_body">
        修改【产品ID】或【账户类别】可能会造成交易数据紊乱，确定继续修改？
    </div>
    <div class="common_modal_footer">
        <button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length " ng-click="sureTips()">确定</button>
        <button type="button" class="common_gray_btn common_normal_btn common_line_unend_item common_default_length" ng-click="cancelTips()">取消</button>
    </div>

</div>