<div class = "common_page_html common_scroll_div" ng-controller="tradingRecordCtrl">

    <div class="common_mini_subguide_div"
      ng-show="!showSubguide" ng-click="showSubguide=true;">
        <div class="common_mini_guide_title_div">
            <div class="common_menu_icon"></div>
            账户导航
        </div>
    </div>

    <div class="common_subguide_div" ng-show="showSubguide">
        <div class = "common_guide_title_div">
            <label class = "common_guide_title_label">账户导航</label>
            <img src="../commonui/images/icon_lock.png" draggable="false"  class = "common_guide_close_icon" title="点击收起菜单" ng-click = "showSubguide=false;"/>
        </div>
        <div class=" common_guide_content_div common_scroll_div">
            <cms-guide guide-data = "{{guideTree}}" guide-showid = "false" guide-selectleaf = "true" guide-click = "clickUnit(menu)" guide-setmenu = "setGuideMenu" ></cms-guide>
        </div>
    </div>

    <div ng-class = "{'common_content_locked_div':showSubguide,'common_content_unlocked_div':!showSubguide}" >
        <div class="common_page_html common_scroll_div">
            <div class="common_normal_operate_div common_nowrap" >
                <!-- <input type="text" class = "common_normal_input common_line_unend_item common_search_input_length" ng-model="findStockCode" placeholder="请输入交易账户ID或名称"> -->
                <!-- <button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length  "  >当日查询</button>
                <button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length  "  ng-click="retrieveHistory()">历史查询</button> -->

                <label class="common_line_unend_item">
                    <input type="radio" style="width: 12px;height: 12px; cursor:pointer; "  ng-click="retrieveToday()" ng-checked="filterOption.isToday"/>当日查询
                    <input type="radio" style="width: 12px;height: 12px; cursor:pointer; " ng-click="retrieveHistory()"  ng-checked="!filterOption.isToday"/>历史查询
                </label>

                <label class=" common_line_unend_item" ng-show="!filterOption.isToday">
                    日期：
                    <input type="date" class = "common_normal_input  common_form_calendar common_form_calendar_width " ng-model="begin_date" ng-change="changeStartDate()">
                    -
                    <input type="date" class = "common_normal_input  common_form_calendar common_form_calendar_width " ng-model="end_date" ng-change="changeEndDate()">
                </label>


                <button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length  " ng-show="filterOption.trid"  ng-click="getTradingRecord()">刷新</button>
                <button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length  "  ng-show="filterOption.trid"
                    ng-if = "menuRight.indexOf(2004004001) != -1" ng-disabled="exporting" ng-click="manuallyExport()">手动导出</button>
                <button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length  " ng-if = "menuRight.indexOf(2004004002) != -1" ng-click="setConfiguration()">导出设置</button>
            </div>
            <div class=" common_normal_data_div" >
                <div class="common_scroll_div" style="height:calc(100% - 28px); ">
                    <table class="common_fixed_table" onclick="cms.addClassToTableHead(event,'common_activeTH');">
                      <thead>
                        <tr >
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('trday')" >
                              <span ng-show = "keyName == 'trday'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              日期
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('trid',true)" >
                              <span ng-show = "keyName == 'trid'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              策略组合
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('direction')" >
                              <span ng-show = "keyName == 'direction'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              交易方向
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('begin')" >
                              <span ng-show = "keyName == 'begin'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              交易开始时间
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('end')" >
                              <span ng-show = "keyName == 'end'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              交易结束时间
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('marketcode')">
                              <span ng-show = "keyName == 'marketcode'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              股票代码
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('tradevol',true)">
                              <span ng-show = "keyName == 'tradevol'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              数量
                          </th>
                          <th class = "common_center_align common_nowrap" ng-click = "clickTableHeader('avgprice',true)">
                              <span ng-show = "keyName == 'avgprice'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
                              均价
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="tradingRecord in tradingRecordArray | orderBy:keyName:false:sortFunction " ng-click="clickTradingRecordTr(tradingRecord)"
                            ng-class="{'common_activeTr': tradingRecord.selected}">
                          <td class = " common_nowrap common_center_align" >
                              {{tradingRecord.trday}}
                          </td>
                          <td class = " common_nowrap common_center_align" >{{tradingRecord.trid}}</td>
                          <td class = " common_nowrap common_center_align" >{{tradingRecord.direction}}</td>
                          <td class = " common_nowrap common_center_align" >{{tradingRecord.begin }}</td>
                          <td class = " common_nowrap common_center_align" >{{tradingRecord.end}}</td>
                          <td class = " common_nowrap common_center_align" >{{tradingRecord.marketcode}}</td>
                          <td class = " common_nowrap common_right_align" >{{tradingRecord.tradevol}}</td>
                          <td class = " common_nowrap common_right_align" >{{tradingRecord.avgprice | number:3}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

                <cms-data-pager click-menu-item="goToPage(page)" all-page="{{allPage}}" current-page="currentPage"></cms-data-pager>
            </div>


        </div>
    </div>


    <div class = "common_modal_back" id = "tradingRecord_modal_back">
        <div ng-include = "dialogModalInfo.path" onload = "showtradingRecordModalLoadReady()"></div>
    </div>


</div>
