<div class="common_modal" id="operManage_Add_modal">
	<div class="common_modal_title_div" id="operManage_Add_modal_title">
		<label class="common_modal_title_label">新建操作员</label>
		<div class="common_modal_window_close_btn" title="关闭窗口" ng-click="operManageAdd_HideModal()">
			<img src="../commonui/images/icon_close.png" draggable="false" class="common_modal_close_icon" />
		</div>
	</div>
	<div class="common_modal_body">
		<div class="common_form_div_item_10px">
			<label class="operManage_form_item_tips">*</label>
			<label class="common_form_pre_label">资产管理人：</label>
			<span>{{selectedTamgr.displayName}}</span>
			<!--<input type="text" class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="4" placeholder="" ng-disabled = "true" ng-model = "selectedTamgr.displayName">-->
		</div>
		<!--<div class="">
			<label class="operManage_form_item_tips">*</label>
			<label class="common_form_pre_label">操作员编号：</label>
			<input type="text" class="common_normal_input common_line_unend_item common_form_suf_input" maxlength="4" placeholder="1~9999"
				cms-mask="unsignedInt" ng-model="$parent.add_oid" ng-blur="oidInputBlur()">
		</div>
		<div class="inputErrorTips">{{inputErrorTips.operNum}}</div>-->
		<div class="">
			<label class="operManage_form_item_tips">*</label>
			<label class="common_form_pre_label">操作员姓名：</label>
			<input type="text" class="common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="请输入操作员姓名"
				ng-model="$parent.add_oname" ng-blur="onameInputBlur()">
		</div>
		<div class="inputErrorTips">{{inputErrorTips.operName}}</div>
		<div class = "common_form_div_item_10px">
			<label class = "operManage_form_item_tips">*</label>
			<label class = "common_form_pre_label">角色：</label>
			<select class="common_normal_input common_line_unend_item common_form_suf_input" style="width:240px" ng-options="role.name for role in roleList" ng-model="self.selectRole">
			</select>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "operManage_form_item_tips">*</label>
			<label class = "common_form_pre_label">文本交互：</label>
			<select class="common_normal_input common_line_unend_item common_form_suf_input" style="width:240px" ng-options="data.name for data in enableList" ng-model="self.tsiEnable">
			</select>
		</div>
		<div class="">
			<label class="operManage_form_item_tips">*</label>
			<label class="common_form_pre_label">密码：</label>
			<!-- <input type="password" class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="" ng-model="$parent.add_psw"> -->
			<div style="display: inline-block; width:240px; margin-right:15px;">
				<cms-password-input input-blur = "pwdInputBlur()" placeholder-text="{{placeholderText}}" password-text="$parent.add_psw" maxLength="32"></cms-password-input>
			</div>
		</div>
		<div class="inputErrorTips">{{inputErrorTips.operPwd}}</div>
		<div class="">
			<label class="operManage_form_item_tips">*</label>
			<label class="common_form_pre_label">确认密码：</label>
			<!-- <input type="password" class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="" ng-model="$parent.add_confirm_psw"> -->
			<div style="display: inline-block; width:240px; margin-right:15px;">
				<cms-password-input input-blur = "beSurePwdInputBlur()" placeholder-text="{{placeholderText}}" password-text="$parent.add_confirm_psw" maxLength="32"></cms-password-input>
			</div>
		</div>
		<div class="inputErrorTips">{{inputErrorTips.beSurePwd}}</div>
		<div class=" notMustLabel common_form_div_item_10px">
			<label class="common_form_pre_label">电子邮箱：</label>
			<input type="text" class="common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="请输入电子邮箱"
				ng-model="$parent.add_email">
		</div>
		<div class=" notMustLabel common_form_div_item_10px">
			<label class="common_form_pre_label">联系电话：</label>
			<input type="text" class="common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="请输入联系电话"
				ng-model="$parent.add_phone">
		</div>

		<div class=" notMustLabel common_form_div_item_10px">
			<label class="common_form_pre_label ">身份证号：</label>
			<input type="text" class="common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="请输入身份证号"
				ng-model="$parent.add_idcard">
		</div>

	</div>
	<div class="common_modal_footer">
		<button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length" ng-click="operManageAddConfirm()">确定</button>
		<button type="button" class="common_gray_btn common_normal_btn common_default_length" ng-click="operManageAdd_HideModal()">取消</button>
	</div>
</div>