<div class = "common_modal" id = "operMacBind_Add_modal" >
	<div class="common_modal_title_div" id = "operMacBind_Add_modal_title">
		<label class = "common_modal_title_label">新增终端绑定</label>
		<div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "mainHideModalLv2()">
			<img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
		</div>
	</div>
	<div class="common_modal_body">
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">资产管理人：</label>
			<input type="text"   class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="" ng-disabled="true" ng-model="addMacBindInfo.add_maidDisplayName">
			<label class = "operMacBind_form_item_tips">*</label>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">操作员编号：</label>
			<input type="text"  class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="4" placeholder="1~9999" ng-disabled="true"  cms-mask="unsignedInt" ng-model="addMacBindInfo.add_oid">
			<label class = "operMacBind_form_item_tips">*</label>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">MAC地址：</label>
			<input type="text" class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="32"  placeholder="" ng-model="addMacBindInfo.add_mac">
			<label class = "operMacBind_form_item_tips">*</label>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">IP地址：</label>
			<input type="text" class = "common_normal_input common_line_unend_item common_form_suf_input" maxlength="32" placeholder="" ng-model="addMacBindInfo.add_ip">
			<label class = "operMacBind_form_item_tips">*</label>
		</div>
	</div>
	<div class="common_modal_footer">
		<button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length" ng-click = "operMacBindAddConfirm()">确定</button>
		<button type="button" class = "common_gray_btn common_normal_btn common_default_length" ng-click = "mainHideModalLv2()">取消</button>
	</div>
</div>
