<div class = "common_modal" id = "brokerManage_Add_modal" >
	<div class="common_modal_title_div" id = "brokerManage_Add_modal_title">
		<label class = "common_modal_title_label">添加经纪商</label>
		<div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "brokerManageAdd_HideModal()">
			<img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
		</div>
	</div>
	<div class="common_modal_body">
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">经纪商ID：</label>
			<input type="text" class = "common_normal_input common_line_unend_item common_form_suf_input"
			 	maxlength="4" cms-mask="unsignedInt" placeholder="" ng-model = "addBrokerInfo.add_bid">
			<label class = "brokerManage_form_item_tips">*</label>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">经纪商简称：</label>
			<input type="text" class = "common_normal_input common_line_unend_item common_form_suf_input"
			 	maxlength="32" placeholder="" ng-model="addBrokerInfo.add_bname">
			<label class = "brokerManage_form_item_tips">*</label>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">经纪商全称：</label>
			<input type="text" class = "common_normal_input common_line_unend_item common_form_suf_input"
			 	maxlength="128" placeholder="" ng-model="addBrokerInfo.add_blname">
			<label class = "brokerManage_form_item_tips">*</label>
		</div>
		<div class = "common_form_div_item_10px">
			<label class = "common_form_pre_label">清算时间：</label>
			<input type="time" class = " clearTimeInput "  maxlength="8" placeholder="格式为00:00:00" ng-model="addBrokerInfo.add_clear_begintime">
			<label class = "">-</label>
			<input type="time" class = "  clearTimeInput common_line_unend_item" maxlength="8" placeholder="格式为00:00:00" ng-model="addBrokerInfo.add_clear_endtime">
			<label class = "brokerManage_form_item_tips">*</label>
		</div>
	</div>
	<div class="common_modal_footer">
		<button type="button" class = "common_blue_btn common_normal_btn common_line_unend_item common_default_length" ng-click = "brokerAddConfirm()">确定</button>
		<button type="button" class = "common_gray_btn common_normal_btn common_default_length" ng-click = "brokerManageAdd_HideModal()">取消</button>
	</div>
</div>
