.dbErrorLog_option_div {
	position: absolute;
	top: 0px;
	left: 13px;
	right: 9px;
	height: 26px;
	vertical-align: middle;
}
.dbErrorLog_data_div {
	position: absolute;
	top: 37px;
	left: 13px;
	right: 9px;
	bottom: 10px;
	border: 1px solid rgba(34,36,38,.15);
}

.dbErrorLog_form_compact_header {
	font-size: 12px;
	display: inline-block;
	width: 120px;
	margin-right: 5px;
}

.dbErrorLog_form_item_tips {
	color: red;
	font-size: 12px;
	vertical-align: middle;
}

/*带下划线*/
.dbErrorLog_form_item_tips_u {
	color: red;
	font-size: 12px;
	text-decoration: underline;
	vertical-align: middle;
	cursor: pointer;
}

.dbErrorLog_Alt_form_right_item {
	/* margin-left: 30px; */
	margin-bottom: 10px;
	margin-right: 10px;
}

.dbErrorLog_table_label {
	font-size: 12px;
	vertical-align: middle;
	color: rgb(101,101,101);
}

.dbErrorLog_table_option_label {
	color: rgb(9,157,220);
	font-size: 12px;
	cursor: pointer;
}
.dbErrorLog_table_option_label:hover {
	color: red;
}
.dbErrorLog_table_option_divider {
	color: rgb(9,157,220);
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
}
