<div class = "common_page_html common_scroll_div" ng-controller = "operatorLogCtrl" ng-init = "operatorLogInit()">
    <div class = "common_page_html common_scroll_div">
		<div class = "common_operate_div common_nowrap">
			<input type="text" class = "common_normal_input common_line_unend_item common_search_input_length" placeholder = "请输入关键字进行过滤>>" ng-model = "filterContent" ng-change = "operLogFilter()">
			<label class = "common_form_date_label">日期：</label>
			<input type="date" class = "common_normal_input  common_form_calendar common_form_calendar_width common_line_unend_item"  ng-model="begin_date">
			<label class = "common_line_unend_item" >-</label>
			<input type="date" class = "common_normal_input  common_form_calendar common_form_calendar_width common_line_unend_item" ng-model="end_date" >
			<button type="button" class = "common_green_btn common_normal_btn common_default_length" ng-click = "refreshOperatorLogDataTable()" >查 询</button>
		</div>
		<div class = "alarmMessage_data_div common_scroll_div">
			<table class = "common_fixed_table" onclick="cms.addClassToTableHead(event,'common_activeTH')">
				<thead >
					<tr >
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'sno'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							ID
						</th>
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'operdate'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							操作时间
						</th>
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'ip'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							IP地址
						</th>
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'mac'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							MAC信息
						</th>
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'oper_type'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							操作类型
						</th>
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'oid'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							操作员ID
						</th>
						<th class = "common_center_align common_nowrap">
							<span ng-show = "keyName == 'oper_obj'" ng-class = "{common_sort_icon:!reverse,common_sort_desc_icon:reverse}"></span>
							操作对象
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cell in operatorLogDataList" ng-show="cell.show"  ng-class = "{true:'common_activeTr',false:''}[$index == curClickedIndex ]" ng-click="itemClicked($index)">
						<td class = "common_center_align common_nowrap">
							<label>{{cell.sno}}</label>
						</td>
						<td class = "common_center_align common_nowrap">
							<label>{{cell.opertime}}</label>
						</td>
						<td class = "common_center_align common_nowrap">
							<label>{{cell.ip}}</label>
						</td>
						<td class = "common_center_align common_nowrap">
							<label >{{cell.mac}}</label>
						</td>
						<td class = "common_center_align common_nowrap">
							<label  >{{cell.oper_type}}</label>
						</td>
						<td class = "common_center_align common_nowrap">
							<label  >{{cell.oid}}</label>
						</td>
						<td class = "common_center_align common_nowrap">
							<label  >{{cell.oper_obj}}</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<cms-data-pager click-menu-item="goToPage(page)" all-page="{{allPage}}" current-page="currentPage"></cms-data-pager>

		<!--<div class="common_page_tools" >
			<i class=" iconfont icon-rilijiantouzuoshuang common_page_tool" style="font-size:12px; "  ng-click="goToPage(1)"  title="首页"></i>
			<i class="iconfont icon-houtuiqianjin common_page_tool" ng-click="goToPage(currentPage -1 )" style="font-size:12px; " title="上一页"></i>

			<input type="text" ng-model="currentPage" class="common_page_number" ng-keyup="pageToolsKeyUp($event)">
			<label title="总页数">/{{allPage}}</label>

			<i class="iconfont icon-houtuiqianjin1 common_page_tool" style="font-size:12px; " ng-click="goToPage(currentPage +1)" title="下一页"></i>
			<i class=" iconfont icon-rilijiantouyoushuang common_page_tool" ng-click="goToPage(allPage)" style="font-size:12px; " title="尾页"></i>

		</div>-->
    </div>
</div>
