<div class = "common_modal" style = "min-width: 300px;" id = "complianceRisk_delete_modal">
	<div class="common_modal_title_div" id = "complianceRisk_delete_modal_title">
        <label class = "common_modal_title_label">删除风控</label>
        <div class = "common_modal_window_close_btn" title = "关闭窗口" ng-click = "preriskCloseModal()">
            <img src="../commonui/images/icon_close.png" draggable="false" class = "common_modal_close_icon" />
        </div>
    </div>
	<div class = "common_modal_body">
		<div class = "prerisk_delete_modal_content">
			你确定要删除该条风控配置吗？
		</div>
	</div>
	<div class="common_modal_footer">
        <button type="button" class="common_blue_btn common_normal_btn common_line_unend_item common_default_length complianceRisk" ng-click="preriskDeleteRiskSure()">确定</button>
        <button type="button" class="common_gray_btn common_normal_btn common_line_unend_item common_default_length complianceRisk" ng-click="preriskCloseModal()">取消</button>
    </div>
</div>
